.mainProjectInfo {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 100px;
}

/* IMAGE SECTION */

.image, .image_hover_effect {
    border-radius: 6px;
}

.image {
    
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 300px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;


}

.image_hover_effect {
    background-color: #ff5e00;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 300px;
    width: 500px;

    opacity: 0.2;
    transition: all 0.3s;
}

.image_hover_effect:hover {
    opacity: 0;
}


/* CONTENT SECTION */
.content__intro {
    margin: 10px 0;
}
.content__intro p {
    color: #ff5e00;
    font-family: Roboto Mono, sans-serif;
    font-size: 13px;
}

.content__heading {
    margin: 0 0 20px;
}

.content__heading a {
    text-decoration: none;
}
.content__heading a h3 {
    color: #e6f1ff;
    font-size: 28px;
    transition: all 0.3s;
}
.content__heading h3:hover {
    color: #ff5e00;
}

.content__description {
    background-color: #112240;
    padding: 16px 0px 16px 32px;
    width: 450px;
    border-radius: 6px;
    color: #a8b2d1;
    text-align: center;
}
.content__description p {    
    line-height: 1.6;
    font-size: 14px;
}


.content__list {
    padding: 16px 0;
    font-family: Roboto Mono, sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.content__list ul {
    color: #ff5e00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.content__links ul {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
}

.svg-icon {
    stroke: #8892b0; 
    transition: all 0.3s;
}
.svg-icon:hover {
    stroke: #ff5e00; 
    transform: translate(0, -1px);
}

/* 

.content h3 {

    
}

.content .projectDescription p {
    color: #a8b2d1;
    font-family: Roboto Slab, sans-serif;
    font-size: 18px;
}

*/