.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--dark-blue-2);
    padding: 3.2rem;
    width: 30rem;

    border-radius: 1.2rem;
    transition: all 0.2s;
}

@media (max-width: 1200) {
    .mainBox {
        width: 20rem;
    }
}

.mainBox:hover {
    transform: translate(0, -0.6rem);    
}

.mainBox:hover .mainBox__two {
    color: var(--contrast-1);
}

.mainBox__one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon_folder, .icon_link, .icon_github {
    stroke-width: 0.15rem;
}

.icon_folder {
    stroke: var(--contrast-1);
    height: 4rem;
    width: 4rem;
}

.icon_github {
    stroke: var(--text-shade-1);
    height: 2.2rem;
    width: 2.2rem;

    transition: all 0.3s;
}

.icon_link {
    stroke: var(--text-shade-1);
    height: 2.4rem;
    width: 2.4rem;
    transition: all 0.3s;
}

.icon_github:hover, .icon_link:hover {
    transform: translate(0, -0.2rem);
    stroke: var(--contrast-1);
}

.mainBox__two {
    font-size: 2.4rem;
    font-weight: 600;    

    transition: all 0.2s;
}

.mainBox__three p {
    color: var(--text-shade-2);
    font-weight: 300;
    font-size: 1.6rem;
}

.mainBox__four {
    color: var(--contrast-1);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 3rem;

    font-family: Roboto Mono, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

