.mainBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #112240;
    padding: 32px;
    width: 320px;

    border-radius: 12px;
    transition: all 0.2s;
}

.mainBox:hover {
    transform: translate(0, -6px);    
}

.mainBox:hover .mainBox__two {
    color: #ff5e00;
}

.mainBox__one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon_folder, .icon_link, .icon_github {
    stroke-width: 1.5px;
}

.icon_folder {
    stroke: #ff5e00;
    height: 40px;
    width: 40px;
}

.icon_github {
    stroke: #8892b0;
    height: 22px;
    width: 22px;

    transition: all 0.3s;
}

.icon_link {
    stroke: #8892b0;
    height: 24px;
    width: 24px;
    transition: all 0.3s;
}

.icon_github:hover, .icon_link:hover {
    transform: translate(0, -2px);
    stroke: #ff5e00;
}

.mainBox__two {
    font-size: 24px;
    font-weight: 600;    

    transition: all 0.2s;
}

.mainBox__three p {
    color: #a8b2d1;
    font-weight: 300;
    font-size: 16px;
}

.mainBox__four {
    color: #ff5e00;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 30px;

    font-family: Roboto Mono, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

