.introduction {
    display: flex;
    flex-direction: column;
}

@media (max-width: 740px) {
    .introduction {
        align-items: center;
    }
}

.introduction h1 {
    font-family: Roboto Mono, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0 0 2rem 0.4rem;
    color: var(--contrast-1);

    animation: moveFromBottom 0.2s ease-out 0.7s;
    animation-fill-mode: backwards;
}
@media (max-width: 740px) {
    .introduction h1 {
        text-align: center;
    }
}

.introduction h2 {
    font-weight: 600;
    color:var(--text-shade-4);
    font-size: 8rem;

    animation: moveFromBottom 0.2s ease-out 0.8s;
    animation-fill-mode: backwards;
}

@media (max-width: 740px) {
    .introduction h2 {
        text-align: center;
    }
}

.introduction h3 {
    margin: 1rem 0 1.5rem 0 ;
    font-size: 6rem;
    color: var(--text-shade-1);

    animation: moveFromBottom 0.2s ease-out 0.9s;
    animation-fill-mode: backwards;
}
@media (max-width: 740px) {
    .introduction h3 {
        text-align: center;
    }
}

.introduction p {
    margin-top: 2rem;
    line-height: 1.8;
    max-width: 70rem;
    color: var(--text-shade-1);
    font-size: 1.7rem;

    animation: moveFromBottom 0.2s ease-out 1s;
    animation-fill-mode: backwards;
}
@media (max-width: 740px) {
    .introduction p {
        text-align: center;
        width: 100% !important;
    }
}

.check:link,
.check:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: Roboto Mono, sans-serif;
    padding: 1.6rem 6.4rem;
    font-weight: 400;
    color: var(--contrast-1);
    border: 0.2rem solid var(--contrast-1);
    border-radius: 0.3rem;
    margin-top: 5rem;

    animation: moveFromBottom 0.2s ease-out 1.1s;
    animation-fill-mode: backwards;
}


@keyframes moveFromBottom {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }    

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}