.introduction {
    display: flex;
    flex-direction: column;
    margin: 180px 27.15% 50px 15.09%;
    max-width: 57.7%;
}

.introduction h1 {
    font-family: Roboto Mono, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 20px 4px;
    color: #ff5e00;

    animation: moveFromBottom 0.2s ease-out 0.7s;
    animation-fill-mode: backwards;
}

.introduction h2 {
    font-weight: 600;
    color:#e6f1ff;
    font-size: 80px;

    animation: moveFromBottom 0.2s ease-out 0.8s;
    animation-fill-mode: backwards;
}

.introduction h3 {
    margin: 10px 0 15px 0 ;
    font-size: 60px;
    color: #8892b0;

    animation: moveFromBottom 0.2s ease-out 0.9s;
    animation-fill-mode: backwards;

}

.introduction p {
    margin-top: 20px;
    line-height: 1.8;
    max-width: 700px;
    color: #8892b0;
    font-size: 17px;

    animation: moveFromBottom 0.2s ease-out 1s;
    animation-fill-mode: backwards;
}

.check:link,
.check:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: Roboto Mono, sans-serif;
    padding: 16px 64px;
    font-weight: 400;
    color: #ff5e00;
    border: 2px solid #ff5e00;
    border-radius: 3px;
    margin-top: 50px;

    animation: moveFromBottom 0.2s ease-out 1.1s;
    animation-fill-mode: backwards;
}


@keyframes moveFromBottom {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }    

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}