.footer {
    width:75rem;
    text-align: center;
    margin: 5rem auto 3rem auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer p {
    font-size: 1.2rem;
    letter-spacing: 0.13rem;
}

@media (max-width: 740px) {
    .footer {
        width: 30rem;
    }
}