.nav {
    font-family: Roboto Mono;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue-1);

    width: 100vw;
    height: 7rem;
    margin: 0px 5rem 8rem 5rem;

    position: fixed;
    top: 0;
    z-index: 10;
}


