.navContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 28px;

    list-style: none;
}
.navContent li a:link, .navContent li a:visited {
    color: #8892b0;
    text-decoration: none;
    font-size: 14px;

    transition: all 0.3s;
}

.navContent li a:hover, .navContent li a:active {
    color: #ff5e00;
}

.navContent li {
    color: #8892b0;
    font-size: 14px;
}

.navNum {
    color: #ff5e00;
}

.navContent li:nth-child(1) {
    animation: moveInBottom 0.3s ease-out 0.1s;
    animation-fill-mode: backwards;
}
.navContent li:nth-child(2) {
    animation: moveInBottom 0.3s ease-out 0.2s;
    animation-fill-mode: backwards;    
}
.navContent li:nth-child(3) {
    animation: moveInBottom 0.3s ease-out 0.3s;
    animation-fill-mode: backwards;
}
.navContent li:nth-child(4) {
    animation: moveInBottom 0.3s ease-out 0.4s;
    animation-fill-mode: backwards;
}

/* .navContent li a .resume-button:link {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Mono', serif;
    color: #ff5e00;
    padding: 16px 32px;
    border-radius: 10px;
    border: 2px solid #ff5e00;
    background-color: #0a192f;
    margin-top: 20px;

    transition: all 0.2s;
} */

@keyframes moveInBottom {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }    

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}