.navIcon {
    margin: 1rem;
    height: 4rem;
    width: 4rem;

    animation: moveInBottom 0.3s ease-out;
}

.navIcon svg {
    stroke: var(--contrast-1);
}

@keyframes moveInBottom {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }    

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}