.nav {
    font-family: Roboto Mono;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;

    width: 90vw;
    height: 70px;
    margin: 0px 50px 80px 50px;

    position: fixed;
    top: 0;
    z-index: 10;
}


