.app {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin: 20rem 10rem;
    justify-content: space-between;
}

@media (min-width:1300px) {
    .app {
        margin: 20rem auto;
    }
}