/* 
background color: #0a192f  #112240 #233554
text Color: #FFADAD  #ff5e00 rgb(204, 214, 246);

shades : lightest :#e6f1ff  #ccd6f6  #a8b2d1  #8892b0
          dark : 

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background-color: #0a192f;
  color: rgb(204, 214, 246);
  font-size: 18px;
  font-family: Roboto Slab, sans-serif;
}

ul {
  list-style: none;
}

p {
  font-weight: 500;
}

.icon-svg {
  height: 32px;
  width: 32px;
}


