/* 
background color: #0a192f
text Color: #FFADAD  #ff5e00 rgb(204, 214, 246);

shades : lightest :#e6f1ff  #ccd6f6  #a8b2d1  #8892b0
          dark : 

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background-color: #0a192f;
  color: rgb(204, 214, 246);
}
