/* 
background color: #0a192f  #112240 #233554
text Color: #FFADAD  #ff5e00 rgb(204, 214, 246);

shades : lightest :#e6f1ff  #ccd6f6  #a8b2d1  #8892b0
          dark : 

*/

:root {
  --dark-blue-1: #0a192f;
  --dark-blue-2: #112240;
  --dark-blue-3: #233554;

  --contrast-1: #ff5e00;

  --text-shade-1: #8892b0;
  --text-shade-2: #a8b2d1;
  --text-shade-3: #ccd6f6;
  --text-shade-4: #e6f1ff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 740px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: var(--dark-blue-1);
  color: var(--text-shade-4);
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
}

.icon-svg {
  height: 3.2rem;
  width: 3.2rem;
}


