.section{
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    gap: 22%;
}

@media (max-width:1200px) {    
    .info{
        flex-direction: column;
        text-align: center;
    }
}

.infoData p {
    margin-bottom: 2rem;
    line-height: 1.8;
    width: 48rem;
    color: var(--text-shade-2);
}
.infoData p span {
    font-family: Roboto Mono, sans-serif;
    font-weight: 600;
    color: var(--contrast-1);
}

@media (max-width:1200px) {
    .infoData {
        margin: 1rem auto;
    }
}
@media (max-width:740px) {
    .infoData p{
        margin: 1rem auto;
        width: 100%;
    }
}



/* Image Section */

.imageSection {
    height: 28rem;
    width: 28rem;
    position: relative;
}

@media (max-width: 1200px) {
    .imageSection {
        margin: 1rem auto 6rem auto;
    }
}

.image {
    background-image: url('../../Assets/ProfileImg.jpg');
    background-size: cover;
    height: 28rem;
    width: 26.8rem;
    opacity: 0.6;
    border-radius: 0.5rem;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
    transition: all 0.2s ease-out;
}

.image:hover {
    opacity: 1;
}

.imageSection::after {
    content: "";
    display: inline-block;
    height: 28rem;
    width: 26rem;

    border: 0.2rem solid var(--contrast-1);
    border-radius: 0.5rem;
    transform: translate(2rem, 2rem);

    position: absolute;
    top: 0;
    left: 0;

    z-index: -2;
    transition: all 0.2s ease-out;
}

.imageSection:hover::after {
    transform: translate(1.5rem, 1.5rem);
}

.imageColor {
    background-color: var(--contrast-1);
    height: 28rem;
    width: 26.8rem;
    border-radius: 0.5rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.2s ease-out;
}




/* Topic Section */

.topics {
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 1200px) {
    .topics {
        text-align: center;
        justify-content: centers;
    }
}

.topics li {
    color: var(--text-shade-1);
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 1rem;
}

.topics li::before {
    content: "▹";
    color: var(--contrast-1);
}