.section{
    display: flex;
    flex-direction: column;
    max-width: 57.7%;
    margin: 200px auto;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.infoData p {
    margin-bottom: 20px;
    line-height: 1.8;
    width: 480px;
    color: #a8b2d1;
}
.infoData p span {
    font-family: Roboto Mono, sans-serif;
    font-weight: 600;
    color: #ff5e00;
}



/* Image Section */

.imageSection {
    height: 280px;
    width: 268px;
    position: relative;
}

.image {
    background-image: url('../../Assets/ProfileImg.jpg');
    background-size: cover;
    /* background-color: rgb(255, 94, 0, 0.7); */
    height: 280px;
    width: 268px;
    opacity: 0.6;
    border-radius: 5px;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
    transition: all 0.2s ease-out;
}

.image:hover {
    opacity: 1;
}

.imageSection::after {
    content: "";
    display: inline-block;
    height: 280px;
    width: 260px;

    border: 2px solid #ff5e00;
    border-radius: 5px;
    transform: translate(20px, 20px);

    position: absolute;
    top: 0;
    left: 0;

    z-index: -2;
    transition: all 0.2s ease-out;
}

.imageSection:hover::after {
    transform: translate(15px, 15px);
}

.imageColor {
    background-color: rgb(255, 94, 0, 1);
    height: 280px;
    width: 268px;
    border-radius: 5px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.2s ease-out;
}




/* Topic Section */

.topics {
    display: grid;
    grid-template-columns: auto auto auto;
}

.topics li {
    color: #8892b0;
    list-style: none;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.topics li::before {
    content: "▹";
    color: #ff5e00;
}