.icons-fixed, .email-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: appear 0.5s ease-out 1.5s;
    animation-fill-mode: backwards;
}

.icons-fixed {    
    justify-content: center;
    gap:18px;

    position: fixed;
    bottom: -80px;
    left: 60px;
}

.svg-icon {
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    stroke: #8892b0;
}

.svg-icon:hover {
    stroke: #ff5e00;
    transform: translateY(-6px);
}

.fake-div {
    width:-1px;
    height:250px;
    border-right: 3px solid #8892b0;
}

.email-link {
    justify-content: space-around;
    gap: 125px;

    position: fixed;
    bottom: -120px;
    right: 70px;
    z-index: 3;
    width: 00px;
}

.email {
    color: #8892b0;
    font-family: Roboto Mono, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    transform: rotate(90deg);
    
    transition: all 0.3s;

}
.email:hover {
    color: #ff5e00;
}

.email-effect a {
    text-decoration: none;
}

.email-effect{
    transition: all 0.3s;
}

.email-effect:hover {
    transform: translate(0, -6px);
}

@keyframes appear {
    0% {
      visibility: hidden;
    }
  
    100% {
      visibility: visible;
    }
  }