.sectionTitle {
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .sectionTitle {
        text-align: center;
        margin-left: -1rem;
    }
}

.h1 {
    color: #e6f1ff;
}

.h1 span {
    font-weight:400;
    font-size: 23px;
    font-family: Roboto Mono, sans-serif;
    color: #ff5e00;
}